/* MAIN STYLES ===========================================*/

/*- layout -*/
.page {
 padding: 2em 0 2em;
}
.content {
  position: relative;
  width: 90%;
  max-width: 1075px;
  margin: 0 auto;
}

/*- headings -*/
.section-heading {
  text-align: center;
}
.section-heading h1 {
  margin-bottom: 1em;
}
.sub-heading {
  font-size: 24px;
  font-size: 2.4rem;
}
.home-link {
  text-align: center;
  display: block;
}

/*- general styles -*/
nav {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

/*- top page -*/
nav[role=navigation] {
  position: relative;
  height: 150px;
  padding: 0 5%;
  top: -1em;
  margin-top: -150px;
  background: #000;
  -webkit-transition: all .3s ease-out;
}
nav[role=navigation].show {
  margin-top: 0;
}
.nav-list {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-size: 1.8rem;
}
nav[role=navigation] .nav-list a {
  padding: .7em .5em;
  color: #fff;
}
nav[role=navigation]  .nav-list a:hover {
  background: #FFD371;
  color: #000;
}
.avatar {
  display: block;
  float: left;
  width: 125px;
  margin-right: 1em;
  position: relative;
  top: 0;
  border: 2px solid #fff;
  border-top: none;
  border-radius: 0 0 6px 6px;
}
.avatar img {
  display: block;
  border-radius: 0 0 4px 4px;
}
nav[role=navigation] .show-nav {
  display: block;
  padding: 0;
  width: 40px;
  height: 40px;
  text-indent: -999em;
  overflow: hidden;
  position: absolute;
  z-index: 100;
  right: 5%;
  bottom: -40px;
  background-size: contain;
  border-radius: 0 0 6px 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
}
#home nav[role=navigation] .show-nav,
#home nav[role=navigation] .show-nav:hover {
  background: #000 url(../img/m/arrow-down.png) center top no-repeat;
}
#home {
  background: #55aabb;
  color: #fff;
  padding-top: 1em;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .7);
}
#home a {
  color: #fff;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, .2);
}
#home a:hover {
  background: #FFD371;
  color: #000;
}
header[role="banner"] {
  text-align: left;
}
.logo {
  font-family: 'PTSansCaptionBold', georgia;
  font-size: 32px;
  font-size: 3.2rem;
  line-height: 1.5;
}
.logo span {
  display: block;
}
.statement {
  font-family: 'PTSansBold', helvetica, serif;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1.5;
  text-align: justify;
}
.statement a {
  border-bottom: 1px solid #fff;
}

/*- work page -*/
#work .content {
  width: 100%;
}
.photo-list li {
  margin-bottom: 3em;
  &:last-child {
    margin-bottom: 2em;
  }
}
.photo-list .client {
  display: block;
  float: left;
  padding-left: 5%;
  margin-bottom: .5em;
  margin-right: 0;
  text-align: center;
  font-weight: bold;
}
.photo-list .client a {
  font-weight: bold;
}
.caption {
  float: right;
  padding-right: 5%;
  font-size: 14px;
  font-size: 1.4rem;
  margin-bottom: 0;
}
.caption strong {
  display: none;
}
.photo-list .img {
  display: block;
  clear: both;
  margin-bottom: 1em;
}
.photo-list img {
  display: block;
  margin: 0 auto;
  border-top: 1px solid rgba(0, 0, 0, .2);
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

/*- experience page -*/
.experience li {
  margin-bottom: 3em;
}
.experience h3,
.experience h4 {
  margin-bottom: .5em;
}
.experience h3 {
  color: #000;
}
.experience .dates {
  font-family: 'PTSansItalic', 'helvetical neue', helvetica, arial, sans-serif;
}
.experience .description {
  line-height: 1.3;
}
.skills dt,
.skills dd {
  line-height: 1.2;
}

/*- contact page -*/
#contact {
  background: #FFD371;
}
form {
  margin-bottom: 3em;
}
label {
  font-weight: bold;
  line-height: 1.5;
  display: inline-block;
}
input, textarea {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  width: 100%;
  padding: .5em;
  font-size: 16px;
  font-size: 1.6rem;
  background: #FFE7B1;
  -moz-transition: background .2s ease-out;
  -webkit-transition: background .2s ease-out;
  transition: background .2s ease-out;
}
input:focus, textarea:focus {
  background: #fafafa;
  background: rgba(255, 255, 255, .9);
}
textarea {
  height: 6em;
  resize: vertical;
}
input[type=submit] {
  font-size: 21px;
  font-size: 2.1rem;
  font-weight: bold;
  border: none;
  background: #5ab;
  color: #fff;
  color: rgba(255, 255, 255, .9);
  -moz-transition: all .2s ease-out;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}
input[type=submit]:hover {
  background: rgba(255, 255, 255, .8);
  color: #000;
}
.statusMessage {
  display: none;
  text-align: center;
}
.statusMessage p {
  font-size: 24px;
  font-size: 2.4rem;
}
.follow li {
  opacity: .8;
  -moz-transition: opacity .1s linear;
  -webkit-transition: opacity .1s linear;
  transition: opacity .1s linear;
}
.follow li:hover {
  opacity: 1;
}
.follow a {
  width: 80%;
}
.follow a:hover {
  background: transparent;
}


/*- footer -*/
#footer {
  padding-top: 1em;
  background: #000;
  color: #fafafa;
  text-align: center;
}
.footer-nav .nav-list {
  display: inline-block;
  padding: 0;
  margin-bottom: 1em;
  font-size: 16px;
  font-size: 1.6rem;
}
.footer-nav .nav-list li {
  display: inline-block;
}
.footer-nav .nav-list a {
  padding: .2em;
}
.footer-nav a {
  color: #fafafa;
  font-weight: bold;
}
.footer-nav a:hover {
  background: none;
}
.colophon {
  text-align: left;
  line-height: 1.5;
  margin-bottom: 0;
}
.colophon a {
  color: #fff;
  font-weight: bold;
}

/* MEDIA QUERIES ===========================================*/
/*- iPhone landscape -*/
@media only screen and (min-width: 480px) {
  .logo {
    line-height: 1.5;
  }
  .follow a {
    width: 60%;
  }
}

@media only screen and (min-width: 600px) {
  .content {
    width: 80%;
  }
  #home {
    padding-top: 2em;
  }
  .avatar {
    top: -2em;
  }

  nav[role=navigation] {
    width: auto;
    float: right;
    margin-right: 10%;
  }
  nav[role=navigation] .nav-list li {
    float: none;
    display: inline-block;
    width: auto;
  }
  .footer-nav {
    margin-bottom: 2em;
  }
}

@media only screen and (min-width: 768px) {
  .logo {
    margin-bottom: 2em;
  }
  .statement {
    margin-bottom: 3em;
  }
  #work .content {
    width: 90%;
  }
  .photo-list .client {
    padding-left: 0;
  }
  .caption {
    padding-right: 0;
  }
  .photo-list img {
    border: none;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .5), 0 4px 8px rgba(0, 0, 0, .3);
  }
  .experience, .skills {
    float: left;
  }
  .experience {
    width: 60%;
  }
  .skills {
    padding-left: 10%;
    width: 30%;
  }
  .contact-form, .follow {
    float: left;
  }
  .contact-form {
    width: 60%;
    min-height: 24em;
  }
  .follow {
    width: 30%;
    padding-left: 10%;
  }
  .size1of4 {
    width: 50%;
  }
}

@media only screen and (min-width: 992px) {
  .content {
    width: 70%;
  }
  #home {
    padding-top: 4em;
  }
  .avatar {
    top: -4em;
  }
  #work .content {
    width: 80%;
  }
  div:not(#home) a {
    -moz-transition: background .2s linear;
    -webkit-transition: background .2s linear;
    transition: background .2s linear;
  }
  .logo {
    font-size: 36px;
    font-size: 3.6rem;
  }
  .statement {
    font-size: 28px;
    font-size: 2.8rem;
  }
  .nav-list {
    font-size: 21px;
    font-size: 2.1rem;
  }
  .photo-list .client {
    font-size: 21px;
    font-size: 2.1rem;
  }
  .caption {
    padding-top: .4em;
    font-size: 18px;
    font-size: 1.8rem;
  }
  .footer-nav .nav-list a {
    padding: .2em .5em;
  }
  .colophon {
    font-size: 21px;
    font-size: 2.1rem;
  }
}

@media only screen and (min-width: 1382px) {

}

@media only screen and -webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {

}

@media print {
  *{background:transparent !important;color:black !important;text-shadow:none !important;filter:none !important;}
  @page{margin:0.5cm;}
  h2,h3{orphans:3;widows:3;page-break-after:avoid;}
  p{orphans:3;widows:3;}
  pre,blockquote{border:1px solid #999;page-break-inside:avoid;}
  abbr[title]:after{content:" (" attr(title) ")";}
  a,a:visited{color:#444 !important;text-decoration:underline;}
  a[href]:after{content:" (" attr(href) ")";}
  a[href^="javascript:"]:after,a[href^="#"]:after{content:"";}
  img{max-width:100% !important;page-break-inside:avoid;}
  thead{display:table-header-group;}
  tr{page-break-inside:avoid;}
  .ir a:after{content:"";}

}

