/* MAIN STYLES ===========================================*/

/*- layout -*/
.page {
 padding: 2em 0 2em;
}
.content {
  position: relative;
  width: 90%;
  max-width: 1075px;
  margin: 0 auto;
}

/*- headings -*/
.section-heading {
  text-align: center;
}
.section-heading h1 {
  margin-bottom: 1em;
}
.sub-heading {
  font-size: 24px;
  font-size: 2.4rem;
}
.home-link {
  text-align: center;
  display: block;
}

/*- general styles -*/
nav {
  font-family: 'museo-slab', serif;
  font-weight: 500;
}

/*- top page -*/
nav[role=navigation] {
  position: relative;
  height: 150px;
  padding: 0 5%;
  top: -1em;
  margin-top: -150px;
  background: #000;
  -webkit-transition: margin .3s ease-out;
}
nav[role=navigation].show {
  margin-top: 0;
}
nav[role=navigation].show,
.show-nav {
  box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
}
.nav-list {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-size: 1.8rem;
}
nav[role=navigation] .nav-list a {
  padding: .7em .5em;
  color: #fff;
}
nav[role=navigation]  .nav-list a:hover {
  background: #FFD371;
  color: #000;
}
.avatar {
  display: block;
  float: left;
  width: 125px;
  margin-right: 5%;
  position: relative;
  top: 0;
  border: 2px solid #fff;
  border-top: none;
  border-radius: 0 0 6px 6px;
}
.avatar img {
  display: block;
  border-radius: 0 0 4px 4px;
}
.show-nav {
  display: block;
  padding: 0;
  width: 30px;
  height: 30px;
  text-indent: -999em;
  overflow: hidden;
  position: absolute;
  z-index: 100;
  right: 5%;
  bottom: -30px;
  background: #000;
  border-radius: 0 0 6px 6px;
  text-align: center;
}
#home .show-nav:hover {
  background: #000;
}
.show-nav .nav-arrow {
  display: block;
  width: 0;
  height: 0;
  margin: 15px auto 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
}
nav.show .show-nav .nav-arrow {
  border-top-color: transparent;
  border-bottom: 5px solid #fff;
  margin-top: 10px;
}

#home {
  background: #55aabb;
  color: #fff;
  padding-top: 1em;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .7);
}
#home a {
  color: #fff;
}
#home a:hover {
  background: #FFD371;
  color: #000;
}
header[role="banner"] {
  text-align: left;
}
.logo {
  font-weight: 700;
  font-size: 32px;
  font-size: 3.2rem;
  line-height: 1.5;
}
.logo span {
  display: block;
}
.statement {
  font-family: 'museo-slab', serif;
  font-weight: 500;
  font-size: 21px;
  font-size: 2.1rem;
  text-align: justify;
}
.statement a {
  border-bottom: 1px solid #fff;
}

/*- work page -*/
#work .content {
  width: 100%;
}
.photo-list li {
  margin-bottom: 5em;
  &:last-child {
    margin-bottom: 2em;
  }
}
.photo-list .client {
  display: block;
  float: left;
  padding-left: 5%;
  margin-bottom: 1em;
  margin-right: 0;
  text-align: center;
  font-weight: 700;
}
.caption {
  float: right;
  padding-right: 5%;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.5;
  margin-bottom: 0;
}
.caption strong {
  display: none;
}
.photo-list .img {
  display: block;
  clear: both;
  margin-bottom: 2em;
}
.photo-list img {
  display: block;
  margin: 0 auto;
  border-top: 1px solid rgba(0, 0, 0, .2);
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

/*- experience page -*/
.experience li {
  margin-bottom: 3em;
}
.experience h3,
.experience h4 {
  margin-bottom: .5em;
}
.experience h3 {
  color: #000;
}
.experience .dates {
  font-weight: 300;
  font-style: italic;
}
.skills dt,
.skills dd {
  line-height: 1.5;
}

/*- contact page -*/
#contact {
  background: #FFD371;
}
form {
  margin-bottom: 3em;
}
label {
  line-height: 1.5;
  display: inline-block;
}
input, textarea {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  width: 100%;
  padding: .5em;
  font-size: 16px;
  font-size: 1.6rem;
  background: #FFE7B1;
  -moz-transition: background .2s ease-out;
  -webkit-transition: background .2s ease-out;
  transition: background .2s ease-out;
}
input:focus, textarea:focus {
  background: #fafafa;
  background: rgba(255, 255, 255, .9);
}
textarea {
  height: 6em;
  resize: vertical;
}
input[type=submit] {
  font-size: 21px;
  font-size: 2.1rem;
  font-weight: 700;
  border: none;
  background: #5ab;
  color: #fff;
  color: rgba(255, 255, 255, .9);
  -moz-transition: all .2s ease-out;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}
input[type=submit]:hover {
  background: rgba(255, 255, 255, .8);
  color: #000;
}
.statusMessage {
  display: none;
  text-align: center;
}
.statusMessage p {
  font-size: 24px;
  font-size: 2.4rem;
}
.follow li {
  opacity: .8;
  -moz-transition: opacity .1s linear;
  -webkit-transition: opacity .1s linear;
  transition: opacity .1s linear;
}
.follow li:hover {
  opacity: 1;
}
.follow a {
  width: 80%;
}
.follow a:hover {
  background: transparent;
}


/*- footer -*/
#footer {
  padding-top: 1em;
  background: #000;
  color: #fafafa;
  text-align: center;
}
.footer-nav .nav-list {
  display: inline-block;
  padding: 0;
  margin-bottom: 1em;
  font-size: 16px;
  font-size: 1.6rem;
}
.footer-nav .nav-list li {
  display: inline-block;
}
.footer-nav .nav-list a {
  padding: .2em;
}
.footer-nav a {
  color: #fafafa;
  font-weight: 700;
}
.footer-nav a:hover {
  background: none;
}
.colophon {
  text-align: left;
  margin-bottom: 0;
}
.colophon a {
  color: #fff;
  font-weight: 700;
}

/*- sample pages -*/
#sample-home {
  padding: 0;
}
#sample-page nav[role=navigation] {
  height: auto;
  margin-top: 0;
  top: 0;
  text-align: center;
}
#sample-page nav[role=navigation] li {
  display: inline-block;
}
#sample-page .logo {
  margin-bottom: 0;
  margin-top: .5em;
  text-align: center;
}
#sample-page .logo a {
  color: #55aabb;
  font-weight: 900;
}
#sample-page .logo a:hover {
  background: transparent;
  color: #55aabb;
}
#sample img {
  display: block;
  margin: 0 auto 1em;
  max-width: none;
}
.pagination {
  margin: 0;
  font-size: 21px;
  font-size: 2.1rem;
  text-align: center;
}
.pagination a {
  margin: 0 1em;
}
#sample-footer {
  padding-top: 0;
  text-align: center;
}
#sample-footer a {
  color: #000;
}


/* MEDIA QUERIES ===========================================*/
/*- iPhone landscape -*/
@media only screen and (min-width: 480px) {
  .follow a {
    width: 60%;
  }
}

@media only screen and (min-width: 600px) {
  #home {
    padding-top: 0;
  }
  nav[role=navigation] {
    height: auto;
    float: none;
    margin: 0 0 3em;
    top: 0;
    background: transparent;
  }
  #sample-page nav[role=navigation] {
    float: right;
    z-index: 200;
    margin: 0;
    padding: 0;
  }
  nav[role=navigation].show {
    box-shadow: none;
  }
  .show-nav {
    display: none;
  }
  .avatar {
    top: 0;
    width: 20%;
    z-index: 100;
  }
  nav[role=navigation] .nav-list {
    float: right;
    background: #000;
  }
  #sample-page nav[role=navigation] .nav-list {
    background: transparent;
  }
  nav[role=navigation] .nav-list li {
    display: inline-block;
  }
  #sample-page .nav-list a {
    color: #000;
  }
  .logo span {
    display: inline;
  }
  #sample-page header[role=banner] {
    width: 100%;
  }
  #sample-page .logo {
    text-align: left;
  }
  .statement {
    font-size: 24px;
    font-size: 2.4rem;
  }
  .footer-nav .nav-list a {
    padding: .3em 1em;
  }
}

@media only screen and (min-width: 769px) {
  .logo {
    margin-bottom: 1em;
    font-size: 36px;
    font-size: 3.6rem;
  }
  div:not(#home) a {
    -moz-transition: background .2s linear;
    -webkit-transition: background .2s linear;
    transition: background .2s linear;
  }
  .statement {
    margin-bottom: 3em;
    font-size: 28px;
    font-size: 2.8rem;
  }
  #work .content {
    width: 90%;
  }
  .photo-list .client {
    padding-left: 0;
  }
  .caption {
    padding-right: 0;
  }
  .photo-list img {
    border: none;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .5), 0 4px 8px rgba(0, 0, 0, .3);
  }
  .experience, .skills {
    float: left;
  }
  .experience {
    width: 60%;
  }
  .skills {
    padding-left: 10%;
    width: 30%;
  }
  .contact-form, .follow {
    float: left;
  }
  .contact-form {
    width: 60%;
    min-height: 24em;
  }
  .follow {
    width: 30%;
    padding-left: 10%;
  }
  .size1of4 {
    width: 50%;
  }
  .nav-list {
    font-size: 21px;
    font-size: 2.1rem;
  }
  .photo-list .client {
    font-size: 21px;
    font-size: 2.1rem;
  }
  .caption {
    font-size: 18px;
    font-size: 1.8rem;
  }
  .footer-nav .nav-list a {
    padding: .2em .5em;
  }
  .colophon {
    font-size: 21px;
    font-size: 2.1rem;
  }
}

@media only screen and (min-width: 1075px) {
  nav[role=navigation] {
   margin-left: auto;
   margin-right: auto;
   max-width: 1075px;
  }
}

@media only screen and (min-width: 1382px) {

}

@media only screen and -webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {

}

@media print {
  *{background:transparent !important;color:black !important;text-shadow:none !important;filter:none !important;}
  @page{margin:0.5cm;}
  h2,h3{orphans:3;widows:3;page-break-after:avoid;}
  p{orphans:3;widows:3;}
  pre,blockquote{border:1px solid #999;page-break-inside:avoid;}
  abbr[title]:after{content:" (" attr(title) ")";}
  a,a:visited{color:#444 !important;text-decoration:underline;}
  a[href]:after{content:" (" attr(href) ")";}
  a[href^="javascript:"]:after,a[href^="#"]:after{content:"";}
  img{max-width:100% !important;page-break-inside:avoid;}
  thead{display:table-header-group;}
  tr{page-break-inside:avoid;}
  .ir a:after{content:"";}

}

