/* MAIN STYLES ===========================================*/

/*- layout -*/
.page {
 padding: 1em 0 2em;
}
.content {
  width: 90%;
  margin: 0 auto;
}

/*- headings -*/
.section-heading {
  text-align: center;
}
.section-heading h1 {
  margin-bottom: 1em;
}
.sub-heading {
  font-size: 24px;
  font-size: 2.4rem;
}
.home-link {
  text-align: center;
  display: block;
}

/*- general styles -*/
nav {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

/*- top page -*/
#home {
  /*background: #FFAD40;*/
  background: #55aabb;
}
#home a {
  color: #fff;
  color: rgba(255, 255, 255, .8);
  text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}
header[role="banner"] {
  text-align: left;
}
.logo {
  color: #000;
  font-size: 21px;
  font-size: 2.1rem;
}
.nav-list {
  margin-bottom: 1em;
}
.nav-list li {
  display: inline-block;
  padding: .5em;
}
.nav-list li:first-child {
  padding-left: 0;
}
.statement {
  font-size: 21px;
  font-size: 2.1rem;
  line-height: 1.3;
  text-align: justify;
}

/*- work page -*/
.photo-list li {
  margin-bottom: 2em;
}
.photo-list .client {
  display: block;
  text-align: center;
  font-weight: bold;
  margin-bottom: .5em;
}
.photo-list .client a {
  font-weight: bold;
}
.photo-list .img {
  display: block;
  margin-bottom: .5em;
  border: 1px solid rgba(0, 0, 0, .3);
  border-radius: 5px;
  background-clip: padding-box;
}
.photo-list img {
  display: block;
  border-radius: 4px;
}
.caption {
  font-size: 14px;
  font-size: 1.4rem;
}
.caption strong {
  display: none;
}

/*- experience page -*/
.experience li {
  margin-bottom: 3em;
}
.experience h3,
.experience h4 {
  margin-bottom: .5em;
}
.experience h3 {
  color: #000;
}

/*- contact page -*/
#contact {
  /*background: lightblue;*/
  background: #eee;
}
form {
  margin-bottom: 3em;
}
.statusMessage {
  display: none;
}

/*- footer -*/
footer {
  background: #000;
  color: #fafafa;
  text-align: center;
}
.footer-nav a {
  color: #fafafa;
}

/* MEDIA QUERIES ===========================================*/
/*- iPhone landscape -*/
@media only screen and (min-width: 480px) {
  .logo {
    float: left;
    line-height: 1.5;
  }
  nav[role=navigation] {
    float: right;
  }
}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1382px) {

}

@media only screen and -webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {

}

@media print {
  *{background:transparent !important;color:black !important;text-shadow:none !important;filter:none !important;}
  @page{margin:0.5cm;}
  h2,h3{orphans:3;widows:3;page-break-after:avoid;}
  p{orphans:3;widows:3;}
  pre,blockquote{border:1px solid #999;page-break-inside:avoid;}
  abbr[title]:after{content:" (" attr(title) ")";}
  a,a:visited{color:#444 !important;text-decoration:underline;}
  a[href]:after{content:" (" attr(href) ")";}
  a[href^="javascript:"]:after,a[href^="#"]:after{content:"";}
  img{max-width:100% !important;page-break-inside:avoid;}
  thead{display:table-header-group;}
  tr{page-break-inside:avoid;}
  .ir a:after{content:"";}

}

